:root {
    --col_b: black;
    --col_g: forestgreen;
    --col_w: white;
    --col_y: yellow;
    --p: 100px;

}

body {
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--col_g);

}

.header img {
    margin-left: var(--p);
}

.top {
    color: var(--col_w);
    background-color: var(--col_b);
    text-align: right;
    padding-right: var(--p);
    padding-top: 5px;
    padding-bottom: 5px;
}

.header .menu {
    background-color: var(--col_b);
    color: var(--col_w);
    margin-left: var(--p);
    margin-right: var(--p);
}

.header .menu span {
    display: inline-block;
    padding: 10PX;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header .menu span:hover {
    background-color: var(--col_g);
    color: var(--col_b);

}

.contener {
    display: flex;
    justify-content: space-between;
    margin-left: var(--p);
    margin-right: var(--p);
}

.contenerL {
    width: 75%;
}

.contenerL h2 {
    text-align: center;
}

.contenerL p {
    font-size: 20px;
    text-align: justify;
}

.contenerL h4 {
    font-weight: normal;
    font-size: 20px;
}

.contenerL ul li {
    font-size: 20px;
}

.contenerR {
    width: 23%;

}

.contenerR img {
    width: 100%;
}

.top-box {
    background-color: var(--col_y);
    width: 100%;
    margin-top: 24px;


}

.box-home {
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.top-box1 {
    background-color: var(--col_y);
    width: 100%;
    margin-top: 23px;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.type {
    margin-top: 20px;
}

.contenerL img {
    width: 100%;
}

.footer {
    width: 100%;
    background-color: black;
    bottom: 0;

}

.footer1 {
    width: 100%;
    color: var(--col_w);
    display: flex;
   
}

.footer1 .boxL {
    padding-left: 120px;
}

.footer .footer2 {
    width: 100%;
    text-align: center;
    color: var(--col_b);
    background-color: var(--col_y);
    padding-top: 10px;
    padding-bottom: 10px;
}

.login {
    display: flex;
}
