:root {
    --o: rgb(255, 165, 0);
    --col_b: black;
    --p: 20px;

}

body {
    margin: 0
}

* {
    box-sizing: border-box;
}

.header {
    background-color: rgba(255, 165, 0, 0.5);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--o);
    box-shadow: 0 4px 4px gray;
    align-items: center;
}

.name {
    margin-left: 20px;
    font-family: curlz MT;
    font-size: 20pt;
    color: red;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.menu span {
    padding-left: 20px
}

.menu span a {
    color: black;
}

.menu span :hover {
    border-bottom: 2px solid red;
    color: red;
    font-weight: bold;
}
.login {
    margin-right: 15px;
    font-size: 15pt;
    cursor: pointer;
}

.login span a {
    margin-left: 10px;
    color: #000;
}

.pic-top {
    width: 100%;
    display: flex;
    justify-content: space-between;



}

.pic1 {
    width: 49.9%;
    padding-left: 2px;
    padding-right: 2px;

}

.pic2 {
    width: 49.9%;


}

.pic1 img {
    width: 100%;

}

.pic2 img {
    width: 100%;

}

.contener {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.contenerL {
    width: 15%;
}

.menuL ul li {
    list-style: none;
    border-bottom: 2px solid rgb(252, 93, 93);
    cursor: pointer;
}

.menuL ul li a {
    list-style: none;
    color: sandybrown;
}

.sub-menu1 {
    display: none;
}

.sub-menu1 ul li {
    border-bottom: none;
    color: darkgoldenrod;
}

.menuL ul li:hover .sub-menu1 {
    display: block;

}

.contenerC {
    width: 65%;
    justify-content: space-between;
}

.contenerC_top {
    font-weight: bold;
    padding-top: 10px;
    font-size: 15pt;
    margin-left: 60px;
}

.contenerC_central {
    width: 90%;
}

.Product {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 50px;
    text-align: center;
    justify-content: center;


}

.Product img {
    width: 100%;
    margin-top: 10px;
    padding-left: 15px;
}

.Product img:hover {
    transform: scale(1.1);
    box-shadow: 1px 0 4px black;


}

.Product h3 {
    color: var(--o);
}

.Product h2 {
    color: var(--o);
}



.Product .star{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    
}
.Product .star input{
    font-size: 15pt;
    display: flex;
    width: 20px;
    height: 40px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.Product .star input::before{
    content: "\f005";
    position: absolute;
    font-family: fontAwesome;
    color: #000;
    transition: 0.5s;
}
.Product .star input:nth-child(2n+1)::before{
  
    left: initial;
}
.Product .star input:hover ~ input:before,
.Product .star input:hover::before,
.Product .star input:checked ~ input:before,
.Product .star input:checked::before
{
    color: #ffe400;
}
.contenerR {
    width: 20%;

}

.contenerR_top {
    background-color: var(--o);
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contenerR img {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {

    background-color: rgba(255, 165, 0, 0.5);
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer1 {
    width: 25%;
    font-size: 30pt;
    margin-left: 2%;
}

h6 {
    font-size: 20pt;
}

.footer2 {
    width: 35%;
    font-size: 15pt;
}

.footer2 ul li {
    font-size: 25px;
    margin-left: 4%;

}

.bottom {
    text-align: center;
    background-color: orange;
}
